<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name">
  <br>
  <label for="name">LastName</label>
  <input type="text" th:field="*{lastname}" id="lastname">
  <br>
  <label for="name">Age</label>
  <input type="text" th:field="*{age}" id="age">
  <br>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email">
  <br>
  <label for="name">Password</label>
  <input type="text" th:field="*{password}" id="password">
  <br>
  <label for="name">Roles</label>
  <input type="text" th:field="*{roles}" id="roles">
  <br>
  <input type="submit" value="Update user">
</form>
<a th:href="@{/users}">All users</a>

</body>
</html>